/* ////////////////////////////////////////////////////////////////////////// */
/*                                   PAGES                                    */
/* ////////////////////////////////////////////////////////////////////////// */

#main.site-main {
  section:not(.current) {
    @include constrain;
  }
}

.section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 4em 1em;
  .archive &,
  .single-post &,
  .page & {
    padding: 1em;
    @include breakpoint('desktop') {
      padding: 2em;
    }
  }
  &.hero {
    padding: 0;
    min-height: 200px;
    justify-content: center;
    text-align: center;
    @include bgimage('mplex_header.jpg');
    h1 {
      color: white;
      margin: 0;
      font-size: 1em;
    }
    .content-container {
      background-color: rgba($blue, 0.5);
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      text-align: center;
      height: 100%;
      width: 100%;
      z-index: 2;
      padding: 1em 5em;
      div {
        margin: 0 auto;
      }
    }
    @include breakpoint('desktop') {
      font-size: 3em;
    }
  }
  &.single-post {
    padding: 1em;
    .the-deets {
      @include lightfont;
      text-align: right;
      color: $red;
      font-style: italic;
      padding: 0;
    }
    .the-content {
      @include constrain;
      line-height: 1.75em;
      position: relative;
      h2 {
        color: $red;
      }
      &:after {
        content: "";
        width: 90%;
        height: 1px;
        display: block;
        border-top: solid 5px $red;
        position: absolute;
        bottom: .75em;
        left: 1em;
      }
    }
    .fb-like, .fb-comments {
      @include constrain;
      margin: 0 auto;
    }
  }
  @include breakpoint('desktop') {
    padding: 2em;
    flex-direction: row;
    &.hero {
      min-height: 400px;
    }
    &.single-post {
      flex-direction: column;
      .the-content {
        &:after {
          width: 100%;
        }
      }
    }
  }
  h2 {
    text-transform: uppercase;
  }
  h2 + p {
    margin-top: .5em;
    font-size: 1.1em;
  }
  h5 {
    margin-bottom: .5em;
  }
  & > div {
    padding: 1em;
  }
}

.page .section .hero {
  min-height: 300px;
}

.cta {
  background: $red;
  color: white;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
  div {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 auto;
    padding: .25em 0 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    h3 {
      color: white;
      line-height: 1em;
    }
  }
  a {
    background: white;
    color: $red;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: .25em 2em;
    margin: .5em 1em;
    border-radius: 5px;
    height: 100%;
    display: block;
    transition: padding .2s ease-out;
    &:hover, &:active, &:focus {
      padding: .25em 4em;
    }
  }
  @include breakpoint('desktop') {
    div {
      flex-direction: row;
      padding: 0;
    }
  }
}

/*--------------------------------------------------------------
# ELEMENTS
--------------------------------------------------------------*/

article {
  margin-bottom: 10px;
  a {
    text-decoration: none;
    text-transform: uppercase;
    @include link_color(black,$red);
  }
}

/*--------------------------------------------------------------
# TESTIMONIALS
--------------------------------------------------------------*/

#testimonials {
  @include bgimage('ta-ext-75dark.jpg');
  & > div {
    max-width: 100%;
    margin: 0 auto;
    @include breakpoint('desktop') {
      max-width: $contentWidth;
    }
  }
  p {
    @include bodyfont;
    font-size: 1.1em;
    color: rgba(255,255,255,0.75);
    margin-bottom: .5em;
    span {
      @include headlinefont;
      text-transform: uppercase;
      color: white;
    }
  }
  h6 {
    color: rgba(255,255,255,0.75);
    text-align: right;
  }
  @include breakpoint('desktop') {
    height: 80vh;
    @include bgimage($image: 'http://placekitten.com/1200/400', $pos: center 30%);
    p {
      color: black;
      span { color: $red; }
    }
    h6 { color: $red; }
  }
}

/*--------------------------------------------------------------
# FEATURE LIST
--------------------------------------------------------------*/

.feature-list {
  @include bodyfont;
  font-size: 1.2em;
  display: flex;
  margin: 0 auto 25px;
  padding-top: 65px;
  list-style: none;
  overflow-y: scroll;
  li {
    position: relative;
    flex-grow: 1;
    text-align: center;
    margin: 0 15px;
    padding: 10px;
    i {
      color: $red;
      position: absolute;
      top: -55px;
      left: 50%;
      width: 50px;
      line-height: 50px;
      height: 50px;
      border-radius: 25px;
      margin-left: -25px;
      font-size: 40px;
    }
  }
}

/*--------------------------------------------------------------
# CONTACT TAG
--------------------------------------------------------------*/

#people.section > div {
  width: 100%;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
}
.person {
  a, a:visited, a:link {
    color: $red;
  }
  &:nth-child(2n-1) {
    h4 {
      color: $red;
    }
  }
}
.person.animate.visible {
    opacity: 1;
}

.contact-tag {
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid $red;
  padding: 0 1em !important;
  text-align: left;
  margin: 0;
  @include breakpoint('desktop') {
    margin: 0 auto;
  }
  .thumb {
    // @include bgimage($image: 'people_test.png', $pos: center top);
    height: 10em;
    width: 1px;
    padding: 0;
    margin-right: 0;
    flex-shrink: 0;
    z-index: 10;
    @include breakpoint('desktop') {
      height: 6.5em;
    }
  }
  .info {
    text-align: left;
    z-index: 10;
    p {
      color: rgba(255,255,255,0.8);
      font-size: .9em;
      margin: 0 0 -5px;
    }
    h3 {
      color: white !important;
      line-height: 1em;
      margin: .1em 0;
    }
    h6 {
      @include bodyfont;
      color: white !important;
      letter-spacing: 0;
      text-transform: none;
      font-weight: 400;
      margin-top: -5px;
      a {
        @include link_color(white,white);
        text-decoration: none;
      }
    }
  }
  &.dark {
    border: 1px solid white;
  }
  &.light {
    border: 1px solid white;
    background: white;
    box-shadow: 0 3px 5px rgba(0,0,0,0.5);
    .info {
      p, h3, h6 {
        color: $red !important;
        a {
          @include link_color($red,$red);
          text-decoration: none;
        }
      }
    }
    &:after {
      display: none;
    }
  }
  &.center {
    text-align: center;
    .info {
      text-align: center;
    }
  }
  &.big {
    h3 {
      letter-spacing: 0;
      font-size: 2.75em;
    }
  }
  &:after {
    content: "";
    background: $red;
    height: 8em;
    width: 2000%;
    position: absolute;
    z-index: 0;
    left: -500%;
    @include breakpoint('desktop') {
      height: 5em;
    }
  }
}

/*--------------------------------------------------------------
# DEFAULT PAGE TEMPLATE
--------------------------------------------------------------*/

.page {
  .hero {
    @include bgimage('http://placekitten.com/1200/400');
    justify-content: center;
    text-align: center;
    position: relative;
    h1 {
      color: white;
    }
  }
  section {
    &.page-content {
      padding: 1em;
      @include constrain;
      flex-direction: column;
      .the-content {
        position: relative;
        h2 {
          color: $red;
        }
        &:after {
          content: "";
          width: 90%;
          height: 1px;
          display: block;
          border-top: solid 5px #a72727;
          position: absolute;
          bottom: .75em;
          left: 1em;
        }
      }
      @include breakpoint('desktop') {
        padding: 4em 1em;
        .the-content {
          &:after {
            width: 100%;
          }
        }
      }
    }
  }
}

/*--------------------------------------------------------------
# ARCHIVE PAGES
--------------------------------------------------------------*/

.archive {
  .wrapper {
    @include constrain;
  }
}

.archive-listing {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 4em 0 !important;
  article {
    width: 350px;
    margin: 0 auto 4em;
    border-bottom: 5px solid $red;
    .featured-img {
      @include bgimage('mplex_header.jpg');
      width: 100%;
      height: 100px;
    }
    h2 {
      font-size: 2em;
    }
  }
  @include breakpoint('desktop') {
    align-items: flex-start;
    justify-content: space-evenly;
    article {
      width: 450px;
      margin: 0 0 2em;
      .featured-img {
        height: 0;
        padding-bottom: 50%;
      }
    }
  }
}

/*--------------------------------------------------------------
# SEARCH AND 404
--------------------------------------------------------------*/

input[type="search"] {
  width: 100%;
}

/*--------------------------------------------------------------
# SPONSOR PAGE
--------------------------------------------------------------*/

.page-sponsors {
  section.sponsors {
    .sponsor-slider {
      display: flex;
      flex-flow: nowrap;
    }
    max-width: 100% !important;
    background: $red;
    img {
      max-width: 100px;
    }
  }
}

/* ////////////////////////////////////////////////////////////////////////// */
/*                                    HOME                                    */
/* ////////////////////////////////////////////////////////////////////////// */

.home, .page-home {
  .hero {
    position: relative;
  }
  .hero .content-container {
    background-color: rgba($blue, 0.5);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: $fullheight;
    text-align: center;
    z-index: 2;
    padding: 2em;
    .box {
      color: white;
      margin: 0 auto;
      text-align: center;
      margin-top: -10vh;
    }
    h1 {
      @include headlinefont;
      font-style: italic;
      font-size: 3em;
      letter-spacing: -.05em;
      font-weight: 900;
      margin: 0;
    }
    @include breakpoint('desktop') {
      padding: 0;
      h1 {
        font-size: 5em;
      }
    }
    .sub {
      @include superheavyfont;
      font-size: 1.75em;
      text-decoration: none;
      @include link_color( white,white );
      display: block;
      width: 100%;
      position: relative;
      &:after {
        display: block;
        position: absolute;
        content: "";
        visibility: visible;
        width: 80%;
        height: 10px;
        background: white;
        border-radius: 2px;
      }
      &.upper {
        margin-bottom: 20px;
        text-align: center;
        left: 0;
        -webkit-transition: left 0.2s ease-out;
        transition: left 0.2s ease-out;
        &:after {
          left: 10%;
          -webkit-transition: left 0.2s ease-out;
          transition: left 0.2s ease-out;
        }
        &:hover, &:active, &:focus {
          left: 20px;
          &:after {
            left: -20px;
          }
        }
      }
      &.lower {
        margin-top: 20px;
        text-align: center;
        right: 0;
        -webkit-transition: right 0.2s ease-out;
        transition: right 0.2s ease-out;
        &:after {
          right: 10%;
          -webkit-transition: right 0.2s ease-out;
          transition: right 0.2s ease-out;
        }
        &:hover, &:active, &:focus {
          right: 20px;
          &:after {
            right: -20px;
          }
        }
      }
      @include breakpoint('desktop') {
        &.upper {
          text-align: left;
          &:after {
            left: 0;
            width: 50%;
          }
        }
        &.lower {
          text-align: right;
          &:after {
            right: 0;
            width: 50%;
          }
        }
      }
    }
    // Lower Arrow
    &:after {
      @include fontawesome(600);
      content: "\f063";
      font-size: 3em;
      color: white;
      display: inline-block;
      height: 1em;
      width: 2em;
      position: absolute;
      bottom: 2.5em;
      left: 50%;
      margin-left: -1em;
      @include breakpoint('desktop') {
        bottom: 1em;
      }
    }
  }
  .current {
    article {
      max-width: 600px;
    }
    .col-6 {
      text-align: left;
      z-index: 1;
    }
    @include breakpoint('desktop') {
      h2 {
        padding-left: 10px;
        span {
          padding: 0 0 0 10px;
        }
      }
      .col-6:first-child {
        text-align: right;
      }
    }
  }
  .planyourtrip {
    @include bgimage('mplex_bg.jpg');
    .content-container {
      background-color: rgba($red, 0.5);
      width: 100%;
      text-align: center;
      color: white;
      padding: 2em 0 4em;
    }
    section {
      &.directions {
        .col-6:nth-child(2n) {
          padding: 1.5em;
          text-align: left;
        }
      }
      &.gatepolicies {
        div {
          padding: 1.5em;
          text-align: left;
        }
        ul {
          list-style: disc;
          margin: 0 0 1.5em 1em;
          li {
            display: list-item;
          }
        }
      }
      &.hotels {
        .row {
          border-bottom: 1px solid #ccc;
        }
        .col-6:nth-child(2n) {
          padding: 1.5em 1.5em 1.5em 0;
        }
        figure {
          margin: 0;
        }
        a {
          @include link_color($red,$red);
        }
      }
      p {
        color: black;
      }
    }
    @include breakpoint('desktop') {
      .content-container {
        padding: 100px 0 150px;
      }
      section {
        &.directions {
          overflow: hidden;
          .col-6:nth-child(2n) {
            height: 400px;
            padding: 1.5em 1.5em 1.5em 0;
            overflow-y: scroll;
          }
        }
      }
    }
  }
  .sponsors {
    background: $red;
  }
}

.current {
  overflow: hidden;
  position: relative;
  padding: 2em;
  .latestnews {
    z-index: 1;
    padding-bottom: 2em;
  }
  article {
    margin: 0 0 10px auto;
    .featured-img {
      @include bgimage('mplex_header.jpg');
      width: 100%;
      height: 50px;
    }
    a {
      &:hover, &:active, &:focus {
        h2 span {
          background: rgba(255,255,255,0.9);
        }
      }
    }
  }
  h2 {
    display: inline;
    padding-right: 10px;
    padding-bottom: 3px;
    span {
      box-decoration-break: clone;
      padding: 0 10px 0 0;
      -webkit-box-decoration-break: clone;
    }
  }
  @include breakpoint('desktop') {
    padding: 100px 2em;
    border-top: 1px solid #a72727;
  }
  .news-thumbs-container {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    .news-thumbs {
      display: flex;
      position: absolute;
      top: 0;
      justify-content: flex-end;
      left: -50%;
      height: 100%;
      width: 80%;
      z-index: 0;
      opacity: 0;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      @include bgimage($image:'mplex_header.jpg', $pos:200px center);
      div {
        width: 100%;
        height: 100%;
        @include bgimage($image:'diagonal-left.png', $pos:top right, $rep:no-repeat, $size:contain );
        position: relative;
        right: -1px;
      }
      &.show {
        opacity: 1;
        left: -45%;
      }
    }
    &.alignright {
      .news-thumbs {
        justify-content: flex-start;
        left: auto;
        right: -50%;
        background-position: -200px center;
        div {
          @include bgimage($image:'diagonal-right.png', $pos:top left, $rep:no-repeat, $size:contain );
          right: auto;
          left: -1px;
        }
        &.show {
          left: auto;
          right: -45%;
        }
      }
    }
  }
  .readmore {
    display: block;
    text-align: center;
    margin-top: 1em;
  }
  @include breakpoint('desktop') {
    .col-6:first-child {
      .sectiontitle {
        right: 0;
				text-align: right;
			  left: auto;
			  -webkit-transition: right 0.2s ease-out;
			  transition: right 0.2s ease-out;
        &:after {
          right: 0;
			    left: auto;
			    -webkit-transition: right 0.2s ease-out;
			    transition: right 0.2s ease-out;
        }
        &:hover, &:active, &:focus {
          right: 20px;
          left: auto;
          &:after {
            right: -20px;
            left: auto;
          }
        }
      }
      .readmore {
        text-align: right;
      }
    }
    .readmore {
      text-align: left;
    }
  }
}
.single-post .latestnews {
  @include constrain;
}



nav.accordion-tabs {
  width: 80%;
  margin: 35px auto 0;
  min-width: 400px;
  max-width: 800px;
  .accordion-tab-headings {
    display: flex;
    justify-content: space-between;
    @include lightfont;
    font-size: 1.4em;
    margin-bottom: 3px;
    a {
      @include link_color(white,white);
      text-transform: uppercase;
    }
    li.ui-state-active {
      a {
        font-weight: 500;
        color: $red;
      }
    }
    @include breakpoint('desktop') {
      margin: 50px auto 0;
    }
  }
  .accordion-tab-content {
    background: white;
    text-align: left;
    position: relative;
    section {
      color: $red;
      overflow: hidden;
      & > div {
        overflow-y: scroll;
      }
      h3 {
        text-align: center;
        padding: .25em .5em;
        line-height: 1em;
        border-top: 1px solid rgba($red, 0.5);
        &.ui-accordion-header-active {
          background: $red;
          color: white;
          box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        }
      }
      .ui-accordion-content,
      .ui-accordion-content-active {
        height: 400px;
      }
      &:after { // lower scroll-helper for accordion
        @include fontawesome(600);
        content:"\f107" !important;
        display: none !important;
        font-size: 2em;
        color: white;
        text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height:50px;
        bottom: 0;
        opacity: 0;
        transition: opacity .2s ease-out;
        @include bggradient($top: rgba(0,0,0,0), $bottom: rgba(0,0,0,0.5));
      }
      &.scroll-helper-show {
        &:after {
          opacity: 1;
        }
      }
    }
    @include breakpoint('desktop') {
      section {
        height: 400px;
        overflow-y: scroll;
        h3 {
          display: none;
        }
        &:after {
          display: flex !important;
        }
      }
    }
  }
}

.frontpage-bannerad {
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  border-top: 5px solid $red;
  img {
    width: 100%;
  }
}
.bannerad {
  @include constrain;
  margin: 0 auto;
}
